@charset "UTF-8";
* {
    box-sizing: border-box;
}

html, body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    max-width: 1200px; /* Limitar a largura máxima */
    width: 100%; /* Usar 100% para largura responsiva */
    background-color: white;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
    padding-bottom: 0;
    margin-top: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.252);
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
}

main h1, h2 {
    text-align: center;
}

main p {
    text-align: justify;
}

footer {
    margin-top: auto;
}

footer p {
    font-size: 10pt;
    background-color: black;
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 0px 0px 9px 9px;
    color: white;
    margin-bottom: 0;   
}

img {
    max-width: 100%; /* Ajusta a largura da imagem para 100% do contêiner */
    height: auto;
    transition: transform 0.3s ease;
    overflow: hidden;
}


a {
    color: black;
    text-decoration: none;
}

a.marca:hover {
    color: red;
    font-size: 30pt;
}

a:hover {
    color: red;
    text-decoration: underline;
    font-size: 13pt;
}

.conteiner {
    text-align: center;
}

p#retorno {
    margin-top: 30px;
    margin-bottom: 0;
}


/* Estilo padrão para telas maiores */


/* Media Queries para Responsividade */

/* Telas médias (ex: tablets) */
@media (max-width: 768px) {
    main {
        max-width: 100%; /* Ocupar a largura total da tela */
        padding: 5px; /* Reduzir o padding */
    }

    footer p {
        font-size: 8pt; /* Reduzir o tamanho da fonte no footer */
    }

    a.marca:hover {
        font-size: 24pt; /* Ajustar tamanho da fonte do link com classe 'marca' */
    }

    a:hover {
        font-size: 12pt; /* Ajustar tamanho da fonte em links */
    }
}

/* Telas pequenas (ex: smartphones) */
@media (max-width: 480px) {
    main {
        width: 100%; /* Ocupar toda a largura da tela */
    }

    main h1 {
        font-size: 24pt; /* Ajustar o tamanho da fonte do título */
    }

    main h2 {
        font-size: 20pt; /* Ajustar o tamanho da fonte do subtítulo */
    }

    img {
        width: 100%; /* As imagens ocuparão 100% do contêiner */
    }
}

